*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(150, 148, 146);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    color: #fff;
    background-color: transparent;
    padding: 5px 10x;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 120px;
    height: auto;
    margin-left: 10px;
    margin-top: 5px;
}
.nav-links{
    display: flex;
    flex-direction: row;
    background-color: rgb(17, 19, 19);
    width: 100%;
    border-start-start-radius:  10px;
    opacity: .5;
}
.nav-links a{
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-links a:hover{
    color: #0300a1;
}

.menu_bar {
    display: none;
}

section{
    padding: 5% 5%;
}

.homepage{
    padding: 10%;
    width: 100%;
    height: 80%;
}

.homepage_vis{
    text-align: center;
}
.homepage_vis h3{
    color: #ffffff;
    font-size: 2px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
.homepage-container {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.homepage-item {
    flex: 1; 
    margin: 2%; 
    max-width: 300px; 
    text-align: center; 
    padding: 2%;
    border-radius: 2%;
}

.homepage-item img {
    width: 100%; 
    height: 40%;
    border-radius: 10px; 
    margin: 0px 0; 
    transition: transform 0.3s ease;
    background-color: black;
}

.homepage_vis p{
    color: #ffffff;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 5px; 
}
.homepage_vis h2{
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;
}

.overlay {
    background-color: rgb(38, 34, 44);
    border-radius: 5px;
    padding: 7%;
}

@media screen and (max-width: 768px) {
    .homepage_vis h3{
        color: #ffffff;
        font-size: 25px;
        text-transform: capitalize;
        text-align: center;
        font-weight: 700;
        margin-top: 30px;
    }
    .homepage-container {
        display: flex; 
        justify-content: space-around; 
        flex-wrap: wrap; 
    }
    .homepage-item img {
        width: 100%; 
        height: 60%; 
        border-radius: 10px; 
        margin: 0px 0; 
        transition: transform 0.3s ease;
    }
    .homepage-item {
        flex: 1 1 100%; 
    }
}
@media screen and (max-width: 430px) {
    .homepage_vis h3{
        color: #ffffff;
        font-size: 30px;
        text-transform: capitalize;
        text-align: center;
        font-weight: 700;
        margin-top: 100px;
    }
    .nav-links{
        display: none;
    }
    .menu_bar {
        display: flex;
    }

}